body {
    box-sizing: border-box;
}

.container {
    background-color: #f75f92;
    height: 768px;
    width: 1800px;
}

.butt-select {
    display: flex;
    justify-content: space-around;
}

.butt-plug {
    display: flex;
    justify-content: space-evenly;
    gap: 69px;
}

#butt {
    margin-top: 20px;
    width: 90px;
    height: 50px;
    background-color: #fbff00;
    border-radius: 30px;
    text-align: center;
}

#butt:hover {
    transform: scale(1.2);
    cursor: pointer;
}

p {
    align-items: center;
    cursor: pointer;
}
